[http]
#  proxy = http://s-proxy.ericsson.se:8080
[user]
  name = Vladimir Adamic
  email = vladimir.adamic@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[merge]
  tool = vimdiff
[color]
  ui = true
